@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  background-image: url('img/Fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 5%;
}
.container {
  position: relative;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(5px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  border-color: #fff;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
  /* CORREGIDO: Reduje el padding derecho (2%) para mover la foto */
  /* padding: Arriba | Derecha | Abajo | Izquierda */
  padding: 50px 2% 0 5%;
  color: #fff;
}

.home-detail {
  flex-basis: 60%;
}

.home-detail h1 {
  font-size: 55px;
  line-height: 1;
}

.home-detail h2 {
  font-size: 18px;
}

.home-detail p {
  margin: 10px 0px 20px;
  font-size: 16px;
  font-weight: 300;
}

.home-img {
  flex-basis: 40%;
  /* CORREGIDO: Usamos Flexbox para centrar el círculo dentro de esta columna */
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-social {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px #fff;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  box-shadow: none;
  color: #fff;
}

.social-icons {
  margin-left: 20px;
}

.social-icons a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  transition: 0.5s;
}

.social-icons a:hover {
  background: #fff;
  box-shadow: 0 0 10px #fff;
  color: #333;
}



.home-img .img-box {
  width: 28vw;
  height: 28vw;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;
  overflow: hidden;
}

.home-img .img-box img {
    display: block;
    width: 90%;
    height: 109%;
    object-fit: cover;
}